option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "data_project.settings"
    "PYTHONPATH": "./src"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: data_project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"